body {
	font-family: "SF Pro Display Light", sans-serif;
	background: #ffffff!important;
	/* background: #f2f2f2; */
	/* color: rgba(255, 255, 255, .25); */
	/* text-align: center; */
	margin: 0;
}
.row {
	margin-right: 0px!important;
	margin-left: 0px!important;
}
.cont1 {
	letter-spacing: 0.5em;
	/* display: inline-block;
	padding: 1.5em 0em; */
	position: relative;
	padding: 10% 0 0 0;
	background: #ffffff;
}
 .titleWrapper {
	 position: relative;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 text-align: center;
	 height: 300px;
	 overflow: hidden;
	 width: 100%;
	 text-align: center;
}
h1.first {
	color: #292929;
	margin: 0 auto;
	padding: 0;
	line-height: 300px;
	height: 300px;
	position: relative;
	font-family: "SF Pro Display Bold", sans-serif;
	/* font-weight: 700; */
	font-size: 18vw;
	letter-spacing: -0.064em;
	/* text-shadow: 0 0 80px rgba(255, 255, 255, .5); */
}
 h1 {
	color: #292929;
	margin: 0 auto;
	padding: 0;
	line-height: 400px;
	height: 400px;
	position: relative;
	font-family: "SF Pro Display Bold", sans-serif;
	/* font-weight: 700; */
	font-size: 11vw;
	letter-spacing: -0.064em;
	/* text-shadow: 0 0 80px rgba(255, 255, 255, .5); */
}
/* Animate Background Image */
@-webkit-keyframes aitf {
	0% {
		background-position: 0% 50%;
 }
	100% {
		background-position: 100% 50%;
 }
}
 h1 span {
	position: relative;
	display: inline-block;
	transform: translateY(100%);
	transition: all 0.25s cubic-bezier(0.65, 0, 0.21, 1.47) 0s;
	text-shadow: 0 0 80px rgba(255, 255, 255, .5);
	background: url(../img/hero2.jpg) repeat-y!important;
	/* background: url(../img/hero5.jpg) repeat-y!important; */
	-webkit-text-fill-color: transparent!important;
	-webkit-background-clip: text!important;
	background-clip: text!important;
	-webkit-animation: aitf 50s linear infinite;
	/* Activate hardware acceleration for smoother animations */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}
 .titleWrapper.ready h1 span {
	 transform: translateY(0%);
}
 h1.first span {
	 background: #ffffff00;
	 position: relative;
	 z-index: 5;
}
 h1.second span {
	 position: relative;
	 z-index: 1;
}
 h1.first span:nth-of-type(1) {
	 transition-delay: 0.02s;
}
 h1.second span:nth-of-type(1) {
	 transition-delay: 0.08s;
}
 h1.first span:nth-of-type(2) {
	 transition-delay: 0.04s;
}
 h1.second span:nth-of-type(2) {
	 transition-delay: 0.11s;
}
 h1.first span:nth-of-type(3) {
	 transition-delay: 0.06s;
}
 h1.second span:nth-of-type(3) {
	 transition-delay: 0.14s;
}
 h1.first span:nth-of-type(4) {
	 transition-delay: 0.08s;
}
 h1.second span:nth-of-type(4) {
	 transition-delay: 0.17s;
}
 h1.first span:nth-of-type(5) {
	 transition-delay: 0.1s;
}
 h1.second span:nth-of-type(5) {
	 transition-delay: 0.2s;
}
 h1.first span:nth-of-type(6) {
	 transition-delay: 0.12s;
}
 h1.second span:nth-of-type(6) {
	 transition-delay: 0.23s;
}
 h1.first span:nth-of-type(7) {
	 transition-delay: 0.14s;
}
 h1.second span:nth-of-type(7) {
	 transition-delay: 0.26s;
}
 h1.first span:nth-of-type(8) {
	 transition-delay: 0.16s;
}
 h1.second span:nth-of-type(8) {
	 transition-delay: 0.29s;
}
 h1.first span:nth-of-type(9) {
	 transition-delay: 0.18s;
}
 h1.second span:nth-of-type(9) {
	 transition-delay: 0.32s;
}
 h1.first span:nth-of-type(10) {
	 transition-delay: 0.2s;
}
 h1.second span:nth-of-type(10) {
	 transition-delay: 0.35s;
}
 h1.first span:nth-of-type(11) {
	 transition-delay: 0.22s;
}
 h1.second span:nth-of-type(11) {
	 transition-delay: 0.38s;
}
 h1.first span:nth-of-type(12) {
	 transition-delay: 0.24s;
}
 h1.second span:nth-of-type(12) {
	 transition-delay: 0.41s;
}
 h1.first span:nth-of-type(13) {
	 transition-delay: 0.26s;
}
 h1.second span:nth-of-type(13) {
	 transition-delay: 0.44s;
}
 h1.first span:nth-of-type(14) {
	 transition-delay: 0.28s;
}
 h1.second span:nth-of-type(14) {
	 transition-delay: 0.47s;
}
 h1.first span:nth-of-type(15) {
	 transition-delay: 0.3s;
}
 h1.second span:nth-of-type(15) {
	 transition-delay: 0.5s;
}
 h1.first span:nth-of-type(16) {
	 transition-delay: 0.32s;
}
 h1.second span:nth-of-type(16) {
	 transition-delay: 0.53s;
}
 h1.first span:nth-of-type(17) {
	 transition-delay: 0.34s;
}
 h1.second span:nth-of-type(17) {
	 transition-delay: 0.56s;
}
 h1.first span:nth-of-type(18) {
	 transition-delay: 0.36s;
}
 h1.second span:nth-of-type(18) {
	 transition-delay: 0.59s;
}
 h1.first span:nth-of-type(19) {
	 transition-delay: 0.38s;
}
 h1.second span:nth-of-type(19) {
	 transition-delay: 0.62s;
}
 .titleWrapper.ready:hover h1.first span {
	 transform: translateY(-100%);
}
 .titleWrapper.ready:hover h1.second span {
	 transform: translateY(-100%);
}
.scrolllabel {
	font-family: "SF Pro Display Light", sans-serif;
	font-size: 0.6em;
	color: white;
	filter: drop-shadow(1px 2px 2px #000000);
	letter-spacing: 0.1em;
	padding: 0px!important;
}
.scrollicon {
	filter: drop-shadow(4px 2px 3px #000000);
	width: 5%;
	padding-top: 20%;
}
/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.cont1 {
		letter-spacing: 0.5em;
		display: inline-block;
		padding: 1.5em 0em;
		position: relative;
		margin: 20% 0 0 0;
	}
	h1.first {
		color: #292929;
		margin: 0 auto;
		padding: 0;
		line-height: 300px;
		height: 300px;
		position: relative;
		font-family: "SF Pro Display Bold", sans-serif;
		/* font-weight: 700; */
		font-size: 11em;
		letter-spacing: -0.064em;
		/* text-shadow: 0 0 80px rgba(255, 255, 255, .5); */
	}
	h1 {
		color: #292929;
		margin: 0 auto;
		padding: 0;
		line-height: 300px;
		height: 300px;
		position: relative;
		font-family: "SF Pro Display Bold", sans-serif;
		/* font-weight: 700; */
		font-size: 7em;
		letter-spacing: -0.064em;
		/* text-shadow: 0 0 80px rgba(255, 255, 255, .5); */
	}
	.scrollicon {
		filter: drop-shadow(4px 2px 3px #000000);
		width: 10%;
		padding-top: 45%;
	}
}

/* iphone */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)  {
	.cont1 {
		letter-spacing: 0.5em;
		display: inline-block;
		padding: 1.5em 0em;
		position: relative;
		margin: 10% 0 0 0;
	}
	h1.first {
		color: #292929;
		margin: 0 auto;
		padding: 0;
		line-height: 300px;
		height: 300px;
		position: relative;
		font-family: "SF Pro Display Bold", sans-serif;
		/* font-weight: 700; */
		font-size: 6em;
		letter-spacing: -0.064em;
		/* text-shadow: 0 0 80px rgba(255, 255, 255, .5); */
	}
	h1 {
		color: #292929;
		margin: 0 auto;
		padding: 0;
		line-height: 300px;
		height: 300px;
		position: relative;
		font-family: "SF Pro Display Bold", sans-serif;
		/* font-weight: 700; */
		font-size: 4em;
		letter-spacing: -0.064em;
		/* text-shadow: 0 0 80px rgba(255, 255, 255, .5); */
	}
	.scrollicon {
		filter: drop-shadow(4px 2px 3px #000000);
		width: 18%;
		padding-top: 25%;
	}
}


@media (max-width: 414px) and (max-height: 896px) {
	.container-fluid {
		width: 100%;
		padding-right: 0!important;
		padding-left: 0!important;
		margin-right: auto;
		margin-left: auto;
	}
	h1.first {
    color: #292929;
    margin: 0 auto;
    padding: 0;
    line-height: 300px;
    height: 300px;
    position: relative;
    font-family: "SF Pro Display Bold", sans-serif;
    /* font-weight: 700; */
    font-size: 5.5em!important;
    letter-spacing: -0.064em;
    /* text-shadow: 0 0 80px rgba(255, 255, 255, .5); */
	}
	h1.second {
    color: #292929;
    margin: 0 auto;
    padding: 0;
    line-height: 300px;
    height: 300px;
    position: relative;
    font-family: "SF Pro Display Bold", sans-serif;
    /* font-weight: 700; */
    font-size: 3.5em!important;
    letter-spacing: -0.064em;
    /* text-shadow: 0 0 80px rgba(255, 255, 255, .5); */
	}
}