.spacing1 {
  width: auto!important;
  height: auto!important;
  margin-left: 15%!important;
  margin-right: 15%!important;
}
.spacing2 {
  margin-top: 35vh;
  background-color: transparent;
}
.spacing3 {
  height: 0.5em;
  background-color: transparent;
}
.spacing4 {
  height: 1em;
  background-color: transparent;
}
.spacing5 {
  height: 20%;
  background-color: transparent;
}

@media (max-width: 414px) and (max-height: 896px) {
  .spacing1 {
    width: auto!important;
    height: auto!important;
    margin-left: 0%!important;
    margin-right: 0%!important;
  }
  .spacing5 {
    height: 0;
    background-color: transparent;
  }
}