.container1 {
  width: auto!important;
  height: auto!important;
  padding-left: 10%!important;
  padding-right: 10%!important;
  padding-bottom: 122px;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}
.container2 {
  min-height: 20vh;
  width: auto!important;
  text-align: start!important;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 2%;
  background-color: #f2f2f2;
  /* background-image: url(../img/digital-png-5.png); */
}
.container3 {
  display: flex;
  background-color: #ffffff;
}
.container3.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container3.left {
  background-color: #ff9e2c;
  flex: 1;
  padding: 1rem;
}
.container3.right {
  background-color: #b6701e;
  flex: 1;
  padding: 1rem;
}
.container4 {
  height: auto!important;
  width: auto!important;
  padding: 2%!important;
  padding-top: 0%!important;
  text-align: start!important;
  background-color: #f2f2f2!important;
}
.container5 {
  display: inline-block!important;
  background-color:#f2f2f2!important;
}
.container5.left {
  width: 30%!important;
  padding: 10px!important;
  background-color: #ffffff!important;
}
.container5.right {
  width: 70%!important;
  padding: 10px!important;
  background-color: #ffffff!important;
}
.container6 {
  border-radius: 5px;
  background-color: #ffffff!important;
}
.container7 {
  background-color: #fafafa!important;
  overflow: hidden;
  margin-top: 0.6em;
}
.container8 {
  margin-top: 0.6em;
  background-color: #010915!important;
  max-height: 75.8vh;
  overflow: hidden;
}
.container9 {
  min-height: 20vh;
  width: auto!important;
  text-align: start!important;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 121px;
  padding-bottom: 39px;
  background-color: #f2f2f2;
}
.container10 {
  border-radius: 5px;
  background-color: #ffffff!important;
  overflow: hidden;
}

@media (max-width: 414px) and (max-height: 896px) {
  .container1 {
    width: auto!important;
    height: auto!important;
    padding-left: 5%!important;
    padding-right: 5%!important;
    padding-bottom: 122px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
  }
  .container2 {
    min-height: 20vh;
    width: auto!important;
    text-align: start!important;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 25%;
    padding-bottom: 10%;
    background-color: #f2f2f2;
  }
  .container7 {
    background-color: #fafafa!important;
    overflow: hidden;
    margin-top: 0.6em;
  }
  .container8 {
    margin-top: 0.6em;
    background-color: #010915!important;
    max-height: 75.8vh;
    overflow: hidden;
  }
  .container9 {
    min-height: 20vh;
    width: auto!important;
    text-align: start!important;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 121px;
    padding-bottom: 39px;
    background-color: #f2f2f2;
  }
  .container10 {
    border-radius: 5px;
    background-color: #ffffff!important;
  }
}