.heading1 {
  height: auto!important;
  font-family: "SF Pro Display", sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0;
  color: #3a3a3b;
  margin-bottom: 4px;
}
.heading2 {
  height: auto!important;
  font-family: "SF Pro Display", sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0;
  color: #d0d0d0;
  margin-bottom: 4px;
}
.heading3 {
  height: auto!important;
  color: #292929!important;
  font-size: 24px;
  line-height: 1.09091;
  letter-spacing: -0.002em;
  font-family: "SF Pro Display Semibold", sans-serif;
  text-align: start!important;
  font-weight: 600!important;
  margin-top: 14px;
}
.heading4 {
  height: auto!important;
  color: #292929!important;
  font-family: "SF Pro Display Semibold", sans-serif;
  text-align: center;
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -.009em;
}
.heading5 {
  color: #292929!important;
  font-size: 3vw;
  line-height: 1.09091;
  letter-spacing: -0.002em;
  font-family: "SF Pro Display Semibold", sans-serif;
  text-align: start!important;
  font-weight: 700!important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 0;
}
.heading6 {
  height: auto!important;
  color: #292929!important;
  font-family: "SF Pro Display", sans-serif;
  text-align: center;
  margin-bottom: 0.4em!important;
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
  width: 65%;
  margin: auto;
}
.heading7 {
  height: auto!important;
  color: #c7c7c7!important;
  font-family: "SF Pro Display", sans-serif;
  text-align: center;
  margin-bottom: 0.4em!important;
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
  width: 65%;
  margin: auto;
}
.heading8 {
  height: auto!important;
  color: #292929!important;
  font-family: "SF Pro Display ", sans-serif;
  text-align: center;
  margin-bottom: 0.4em;
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: .004em;
}
.heading9 {
  height: auto!important;
  color: #ffffff!important;
  font-family: "SF Pro Display", sans-serif;
  text-align: center;
  margin-bottom: 18px;
  font-size: 37px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: .004em;
}
.heading10 {
  height: auto!important;
  color: #85858b!important;
  font-family: "SF Pro Text Thin", sans-serif;
  text-align: center;
  margin-bottom: 0.9em;
  font-size: 17px;
  line-height: 1.10722;
  letter-spacing: .004em;
}
.heading11 {
  height: auto!important;
  color: #ffffff!important;
  font-weight: 600;
  font-family: "SF Pro Display Semibold", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.10722;
  letter-spacing: .004em;
}
.heading12 {
  height: auto!important;
  color: #ff3d54!important;
  font-family: "SF Pro Display Bold", sans-serif;
  text-align: start;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 700;
  letter-spacing: -.005em;
}
.heading13 {
  height: auto!important;
  color: #2195ee!important;
  font-family: "SF Pro Display Bold", sans-serif;
  text-align: start;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 700;
  letter-spacing: -.005em;
}

@media (max-width: 414px) and (max-height: 896px) {
  .heading1 {
    height: auto!important;
    font-family: "SF Pro Display", sans-serif;
    text-align: center;
    letter-spacing: 0;
    color: #3a3a3b;
    margin-bottom: 4px;
    font-size: 31px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.002em;
  }
  .heading2 {
    height: auto!important;
    font-family: "SF Pro Display", sans-serif;
    text-align: center;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    color: #d0d0d0;
    margin-bottom: 4px;
  }
  .heading3 {
    height: auto!important;
    color: #292929!important;
    font-size: 24px;
    line-height: 1.09091;
    letter-spacing: -0.002em;
    font-family: "SF Pro Display Semibold", sans-serif;
    text-align: start!important;
    font-weight: 600!important;
    margin-top: 14px;
  }
  .heading4 {
    height: auto!important;
    color: #292929!important;
    font-family: "SF Pro Display Semibold", sans-serif;
    font-size: 42px!important;
    line-height: 1.0625;
    /* letter-spacing: -.009em; */
    letter-spacing: -0.02em!important;
    text-align: left!important;
  }
  .heading5 {
    color: #292929!important;
    font-size: 11vw;
    line-height: 1.09091;
    letter-spacing: -0.002em;
    font-family: "SF Pro Display Semibold", sans-serif;
    text-align: start!important;
    font-weight: 700!important;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0;
  }
  .heading6 {
    width: 100%;
    height: auto!important;
    color: #292929!important;
    font-family: "SF Pro Display", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0.012em;
  }
  .heading7 {
    width: 100%;
    color: #c7c7c7!important;
    font-family: "SF Pro Display", sans-serif;
    font-family: "SF Pro Display", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0.012em;
  }
  .heading8 {
    height: auto!important;
    color: #292929!important;
    font-family: "SF Pro Display", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
  }
  .heading9 {
    height: auto!important;
    color: #ffffff!important;
    font-family: "SF Pro Display ", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
  }
  .heading10 {
    height: auto!important;
    color: #85858b!important;
    font-family: "SF Pro Text Thin", sans-serif;
    text-align: center;
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.10722;
    letter-spacing: .004em;
  }
  .heading11 {
    height: auto!important;
    color: #ffffff!important;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .heading12 {
    height: auto!important;
    color: #ff3d54!important;
    font-family: "SF Pro Display Bold", sans-serif;
    text-align: start;
    font-size: 36px!important;
    line-height: 1.07143;
    font-weight: 700;
    letter-spacing: -0.01em!important;
  }
  .heading13 {
    height: auto!important;
    color: #2195ee!important;
    font-family: "SF Pro Display Bold", sans-serif;
    text-align: start;
    font-size: 36px!important;
    line-height: 1.07143;
    font-weight: 700;
    letter-spacing: -0.01em!important;
  }
}