.image1 {
  width: 80%;
  margin-top: 3em;
  margin-bottom: 3em;
}
.image2 {
  width: 200px;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
.image3 {
  width: 65%;
  text-align: center;
  margin-top: 3em;
  overflow: hidden!important;
}
.image4 {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden!important;
}
.image5 {
  width: 25%;
  margin-top: 0;
  margin-bottom: 1em;
  overflow: hidden!important;
}
.image6 {
  width: 160px;
  border-radius: 20px;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}
.image7 {
  min-height: 60vh!important;
  max-height: 60vh!important;
  background: url(../img/support.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #13110d!important;
  background-position-y: bottom;
}
.image8 {
  min-height: 60vh!important;
  max-height: 60vh!important;
  background: url(../img/workshop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e1e0de!important;
  background-position-y: center;
}
.image9 {
  width: 80%;
  text-align: center;
  margin-top: 1em;
  overflow: hidden!important;
  -ms-transform: rotate(20deg);
  z-index: -99;
  transform: skew(157deg);
}
.image10 {
  width: 103%;
  text-align: center;
  margin-top: 3em;
  overflow: hidden!important;
}
.image11 {
  min-height: 60vh!important;
  max-height: 60vh!important;
  background: url(../img/tempv2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e1e0de!important;
  background-position-y: center;
}
.image12 {
  min-height: 60vh!important;
  max-height: 60vh!important;
  background: url(../img/widgetv3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff!important;
  background-position-y: 60%;
  background-position-x: 60%;
}

@media (max-width: 414px) and (max-height: 896px) { 
  .image2 {
    width: 122px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: center;
  }
  .image3 {
    width: 200%;
    text-align: center;
    margin-top: 4em;
    overflow: hidden!important;
    margin-left: -120px;
  }
  .image4 {
    width: 100%;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.5em;
    overflow: hidden!important;
  }
  .image5 {
    width: 25%;
    margin-top: 0;
    margin-bottom: 1em;
    overflow: hidden!important;
  }
  .image6 {
    width: 160px;
    border-radius: 20px;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
  }
  .image7 {
    min-height: 60vh!important;
    max-height: 60vh!important;
    background: url(../img/support.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #13110d!important;
    background-position-y: bottom;
  }
  .image8 {
    min-height: 60vh!important;
    max-height: 60vh!important;
    background: url(../img/workshop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e1e0de!important;
    background-position-y: center;
  }
  .image11 {
    min-height: 60vh!important;
    max-height: 60vh!important;
    background: url(../img/tempv2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e1e0de!important;
    background-position-y: center;
  }
  .image12 {
    min-height: 60vh!important;
    max-height: 60vh!important;
    background: url(../img/widgetv3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff!important;
    background-position-y: 60%;
    background-position-x: 60%;
  }
  .image10 {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    overflow: hidden!important;
  }
}
