 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
}

/* #1 */
 button.learn-more {
	width: 8rem;
  height: auto;
}
 button.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 1.5rem;
	height: 1.5rem;
	background: #ffffff00;
	border: 2px solid #4234b4;
	border-radius: 1.625rem;
	/* background: url(../img/hero2.jpg) repeat-x!important; */
	-webkit-animation: aitf 50s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: -0.2rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
 button.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: '';
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #4234b4;
	border-right: 0.125rem solid #4234b4;
	transform: rotate(45deg);
}
 button.learn-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0 0 0 1.85rem;
	color: #4234b4;
	line-height: 1.6;
	text-align: center;
	font-weight: 600;
}
 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #4234b4;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #4234b4;
	 font-weight: 700!important;
}

 /* #2 */
 button.learn-more2 {
	width: 8rem;
  height: auto;
}
 button.learn-more2 .circle2 {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 1.5rem;
	height: 1.5rem;
	background: #ffffff00;
	border: 2px solid #ff3d54;
	border-radius: 1.625rem;
	/* background: url(../img/hero2.jpg) repeat-x!important; */
	-webkit-animation: aitf 50s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}
 button.learn-more2 .circle2 .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more2 .circle2 .icon.arrow2 {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: -0.2rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
 button.learn-more2 .circle2 .icon.arrow2::before {
	position: absolute;
	content: '';
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #ff3d54;
	border-right: 0.125rem solid #ff3d54;
	transform: rotate(45deg);
}
 button.learn-more2 .button-text2 {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0 0 0 1.85rem;
	color: #ff3d54;
	line-height: 1.6;
	text-align: center;
	font-weight: 600;
}
 button:hover .circle2 {
	 width: 100%;
}
 button:hover .circle2 .icon.arrow2 {
	 background: #ff3d54;
	 transform: translate(1rem, 0);
}
 button:hover .button-text2 {
	 color: #ff3d54;
	 font-weight: 700!important;
}

/* #3 */
button.learn-more3 {
	width: 8rem;
  height: auto;
}
 button.learn-more3 .circle3 {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 1.5rem;
	height: 1.5rem;
	background: #ffffff00;
	border: 2px solid #2195ee;
	border-radius: 1.625rem;
	/* background: url(../img/hero2.jpg) repeat-x!important; */
	-webkit-animation: aitf 50s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}
 button.learn-more3 .circle3 .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more3 .circle3 .icon.arrow3 {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: -0.2rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
 button.learn-more3 .circle3 .icon.arrow3::before {
	position: absolute;
	content: '';
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #2195ee;
	border-right: 0.125rem solid #2195ee;
	transform: rotate(45deg);
}
 button.learn-more3 .button-text3 {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0 0 0 1.85rem;
	color: #2195ee;
	line-height: 1.6;
	text-align: center;
	font-weight: 600;
}
 button:hover .circle3 {
	 width: 100%;
}
 button:hover .circle3 .icon.arrow3 {
	 background: #2195ee;
	 transform: translate(1rem, 0);
}
 button:hover .button-text3 {
	 color: #2195ee;
	 font-weight: 700!important;
}