.body1 {
  text-align: center;
  margin: 28px 122px;
  font-size: 21px;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: .011em;
  font-family: "SF Pro Display", sans-serif;
}
.body2 {
  color: #30309c!important;
}
.body3 {
  background-color: yellow;
  padding: 4px 6px;
}

@media (max-width: 414px) and (max-height: 896px) {
  .body1 {
    font-size: 13px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", sans-serif;
  }
}

@media (min-width: 1400px) {
  .body1 {
    text-align: center;
    margin: 28px 222px;
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", sans-serif;
  }
}


