.col-1-middle {
  background-color: #f2f2f2;
  min-height: 60vmin!important;
}
.col-1-left {
  background-color: #f2f2f2;
  min-height: 60vmin!important;
}
.col-1-right {
  background-color: #f2f2f2;
  min-height: 60vmin!important;
}
.col-2-right {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.col-3-left {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.col-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1000px) {
  .col-1-middle {
    background-color: #f2f2f2;
    min-height: 60vmin!important;
    margin: 0 26px;
    width: 96%!important;
  }
  .col-1-left {
    background-color: #f2f2f2;
    min-height: 60vmin!important; 
    right: calc(-3.5% + 20px);
  }
  .col-1-right {
    background-color: #f2f2f2;
    min-height: 60vmin!important;
    left: calc(4.8% + 20px);
  }
}

@media (max-width: 999px) {
  .col-1-right {
    margin-top: 40px;
  }
}