.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 {
  display: flex;
  align-items: right;
  justify-content: right;
}


@media (max-width: 414px) and (max-height: 896px) {
  .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1540px;
      max-width: 90%!important;
      margin-left: 60px!important;
      margin-right: 60px!important;
  }
}