body {
  text-align: center;
  background: #000;
  color: #eaeaea;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  /* min-height: 80vh; */
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #fff;
}

.spacer.s2 {
  min-height: 10vh;
}

#trigger1 {
  background: #eaeaea;
}

#animate1 {
  background: #999;
  display: inline-block;
}

.image__container {
  will-change: transform;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;
  -webkit-transform: rotateX(49deg) rotateY(0deg) rotateZ(39deg);
  transform: rotateX(49deg) rotateY(0deg) rotateZ(39deg);
  overflow: hidden;
}
.image__item {
  width: 28vw;
  height: calc(30vw * (0.75));
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
}

@media (max-width: 414px) and (max-height: 896px) {
  .spacer.s2 {
    min-height: 5vh;
  }
}